.logo{
    min-width: fit-content;
}

.logo  img{
    width: 5rem ;
    margin-right: .5rem;
}

.logo>div
{
    display: flex;
    align-items: center;
}

.logo span{
    font-size: 1.2rem;
    font-weight: bold;
}

.logo p{
    font-size: .8rem;
}
 
@media (max-width:375px) {

    .logo{
        display: flex;
        justify-content: center;
        
    }

    .logo img{
        width: 50%;
    }
    .logo span{
        font-size: 1rem;
        font-weight: bold;
    }
    
    .logo p{
        font-size: .6rem;
    }
     
}