header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:0.5rem ;
    height: 100vh;
}
 
.header-img{
    align-self: center;
}

.header-content{
    display: flex;
    flex-direction: column;

}

.content-main{
    display:flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.content-main h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}


.content-main p{
    font-weight: 500;
}

@media (max-width:786px) {
    .content-main h1{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .content-main p{
        font-size: .8rem;

    }
      
}

@media (max-width:535px) {
    .content-main h1{
        font-size: 1rem;
        margin-bottom: .8rem;
    }

    .content-main p{
        font-size: .6rem;

    }
      
}

@media (max-width:235px) {
    .content-main h1{
        font-size: 1rem;
        margin-bottom: .8rem;
    }

    .content-main p{
        font-size: .6rem;

    }
      
}